<!DOCTYPE html>
<html id="html" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FleaMarket</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true"  />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FleaMarket.styles.css" asp-append-version="true" />

</head>
<body class="scrollbarT scrollbar-secondary bordered-danger">
    <header class="w-100" style="position: fixed; display: block; z-index: 1000;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand p-0 m-0 me-4" asp-area="" asp-controller="Home" asp-action="Index"><img class="p-0 m-0" style=" max-width:57px; max-height:40px;z-index:2; position: relative;" src="/images/logo-sm.jpg" /></a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between text-end">
                @{
                    if (User.Identity.Name != null)
                    {
                    <ul class="navbar-nav flex-grow-1 ">
                                <li class="nav-item">
                                    <a class="nav-link text-dark position-relative" asp-area="" asp-controller="Deal" asp-action="MyDeal">Предложения и сделки<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="CountNewDeals" style="visibility:hidden;"><span class="visually-hidden">unread messages</span></span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="MyProducts" asp-route-number="@User.Identity.Name">Мои лоты</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" onclick="Product_extension()">Добавить лот</a>
                                </li>
                    </ul>
                    <div class="flex-shrink-0 dropdown">
                        <button type="button" class="d-block  nav-link bg-transparent text-danger border-0" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" onclick="favorite_extension()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"></path>
                            </svg>
                        </button>
                        <ul id="favoriteToList" class="dropdown-menu dropdown-menu-lg-end shadow scrollbar scrollbar-danger bordered-danger thin" aria-labelledby="dropdownUser2" style=" min-width: 450px;">
                        </ul>
                    </div>
                    <button onclick="chat_active()" class="btn btn-primary position-relative" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        Мои чаты
                        <span id="MyChat" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="visibility:hidden">0</span>
                    </button>
                    <div class="flex-shrink-0 dropdown">
                        <a href="#" class="d-block link-dark text-decoration-none nav-link text-dark" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">@User.Identity.Name</a>
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
                            <li><a class="nav-link text-dark" onclick="Product_extension()">Добавить лот</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetUserByName">Моя страница</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a></li>
                        </ul>
                    </div>
                    }
                    else
                    {
                    <ul class="navbar-nav flex-grow-1 ">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GetUser">Поддержка</a>
                                </li>
                    </ul>
                    }
                }
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="padding-top:70px">
        <main role="main" class="pb-3">
            <div id="addProduct" class="modal modal-signin position-fixed d-block" role="dialog" style="z-index:9999; visibility:hidden; background: rgba(0,0,0,0); backdrop-filter: blur(10px);">
            </div>
            <div class="offcanvas offcanvas-end border-0 shadow-lg" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasRight" style="width: 600px" aria-labelledby="offcanvasRightLabel">
              <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Чаты:</h5>
                <button type="button" class="btn-close text-reset" onclick="DeActive()" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="container offcanvas-body pt-0">
                  <div class="row h-100 w-100 p-0 m-0">
                      <div id="SelectedChat" class="col-7 border-end p-0">

                      </div>
                      <div id="AllChat" class="col-5 scrollbarС scrollbar-secondary bordered-danger thin p-0 m-0">
                      </div>
                  </div>
              </div>
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - FleaMarket - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/count_new_deals.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/favorit.js" asp-append-version="true"></script>
    <script src="~/lib/js/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/js/chat_event.js" asp-append-version="true"></script>
    <script src="~/js/messages.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
