@model Domain.Models.ErrorModel;
@{
    ViewData["Title"] = "Error";
}

<div class="error404">@Model?.Number</div>
@if (Model?.ShowRequestId ?? false)
{
    <p class="error404 error404-sm" style="text-align:center">
        <strong class="text-white-50">Error message: </strong>@Model?.Message
    </p>
}

