@{
    ViewData["Title"] = "Страница входа";
}

    

    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <img class="p-0 m-0" style=" max-width:100%; max-height:100%;z-index:2; position: relative;" src="/images/logo.jpg" />
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true" class="p-4 p-md-5 border rounded-3 bg-light">
            <div class="form-floating mb-3">
              <input type="tel" name="PhoneNumber" class="form-control tel" id="floatingInput" placeholder="Number" required minlength="18" maxlength="18">
              <label for="floatingInput">Номер телефона</label>
            </div>
          

          <div class="form-floating mb-3">
            <input type="password" name="Password" class="form-control" id="floatingPassword" placeholder="Password" required minlength="8" maxlength="50">
            <label for="floatingPassword">Пароль</label>
          </div>
          <input class="w-100 btn btn-lg btn-primary" type="submit" value="Войти"/>
          <hr class="my-4">
          <small class="text-muted">Всё ещё не зарегистрированы? <a class="link-primary" asp-area="" asp-controller="Account" asp-action="Register">Нажмите сюда</a></small>
        </form>
      </div>
    </div>
    <script src="~/js/tel_valid.js" asp-append-version="true"></script>