@{
    ViewData["Title"] = "Страница регистрации";
}

<div class="row align-items-center g-lg-5 py-5">
      <div class="col-md-10 mx-auto col-lg-5">
        <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true" class="p-4 p-md-5 border rounded-3 bg-light needs-validation" novalidate>
          <div class="form-floating mb-3">
            <input type="text" name="Surname" class="form-control" id="validationCustom01" placeholder="Surname" minlength="3" maxlength="18" required>
            <label for="validationCustom01">Фамилия</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" name="Name" class="form-control" id="validationDefault02" placeholder="Name" minlength="2" maxlength="15" required>
            <label for="validationDefault02">Имя</label>
          </div>

            <div class="form-floating mb-3">
              <input type="tel" name="PhoneNumber" class="form-control tel" id="floatingInput" placeholder="Number" required minlength="18" maxlength="18">
              <label for="floatingInput">Номер телефона</label>
            </div>

          <div class="form-floating mb-3">
            <select name = "CityId" class="form-control" id="validationDefault05" placeholder="CityId" required>
                    <option selected disabled value="">...</option>
                    @foreach (City c in ViewBag.City)
                    {
                        <option value=@c.CityId>@c.Name</option>
                    }
                </select>
            <label for="validationDefault05">Город</label>
          </div>

          <div class="form-floating mb-3">
            <input type="password" name="Password" class="form-control" id="validationDefault06" placeholder="Password" required minlength="8" maxlength="50">
            <label for="validationDefault06">Пароль</label>
          </div>
          <input class="w-100 btn btn-lg btn-primary" type="submit" value="Зарегистрироваться"/>
          <hr class="my-4">
          <small class="text-muted">Нажимая Зарегистрироваться, вы соглашаетесь с условиями использования.</small>
        </form>
      </div>
      <div class="col-lg-7 text-center text-lg-start">
        <img class="p-0 m-0" style=" max-width:100%; max-height:100%;z-index:2; position: relative;" src="/images/logo.jpg" />
      </div>
    </div>
    <script src="~/js/valid.js" asp-append-version="true"></script>
    <script src="~/js/tel_valid.js" asp-append-version="true"></script>
