@{
    ViewData["Title"] = "Мои лоты";
}
    <div class="row mt-5 mb-2">
        @{
            if (@ViewBag.ProductCount>0)
            {
                foreach (Product product in @Model)
                {
                    <div class="col-lg-4 ">
                        <a asp-area="" asp-controller="Product" asp-action="ViewProduct" asp-route-productId="@product.ProductId" style="text-decoration: none; color: rgb(30,30,30);">
                            @Html.Partial("ListProduct", product)
                        </a>
                    </div>
                }
            }
            else
            {
                <h2 class="lead">У вас нет выложенных лотов :)</h2>
            }
        }
    </div>

