@*
*@
<table>
        <tr>
            <td>Surname:</td>
            <td><b>@ViewBag.User.Surname</b></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><b>@ViewBag.User.Name</b></td>
        </tr>
        <tr>
            <td>PhoneNumber:</td>
            <td><b>@ViewBag.User.PhoneNumber</b></td>
        </tr>
        
        <tr>
            <td colspan="2">
                <a  asp-controller="Home" asp-action="Index" class="btn btn-warning">Back</a>
            </td>
        </tr>
</table>
