<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
	<connectionStrings>
		<add name="conString"
		 providerName="Npgsql"
		 connectionString="Host=localhost;Port=5433;Database=testDB;Username=postgres;Password=2077" />
	</connectionStrings>
</configuration>