<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
    </handlers>
	<aspNetCore processPath="dotnet" arguments=".\FleaMarket.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" />
  </system.webServer>
	<connectionStrings>
		<add name="conString"
		 providerName="Npgsql"
		 connectionString="Host=localhost;Port=5433;Database=testDB;Username=postgres;Password=2077" />
	</connectionStrings>
</configuration>